{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tienda Verde{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="{% static 'css/estilo-general.css' %}">
    <link rel='icon' type="image/png" href="{% static 'img/logo.png' %}" sizes="32x32"> 
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light custom-navbar fixed-top">
        <div class="container-fluid">
            <a href="{% url 'index' %}" class="text-decoration-none">
                <header class="text-center py-3 d-flex align-items-center justify-content-center custom-header">
                    <img src="{% static 'img/logo.png' %}" alt="Logo de Tienda Verde" style="height:35px; vertical-align:middle;">
                    <h2 class="m-1">TIENDA VERDE</h2>
                </header>
            </a>
           
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">
                            <img src="{% static 'img/pag_Inicio.png' %}" alt="Inicio"> Inicio
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'productos' %}">
                            <img src="{% static 'img/productos.png' %}" alt="Productos"> Productos
                        </a>
                    </li>
                    

                </ul>

                
            </div>

            {% if user.is_authenticated %}
            <form class="d-flex me-3" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-danger">Cerrar Sesión</button>
            </form>
            
            {% if user.is_superuser %}
                <a href="/admin/" class="btn btn-outline-primary">Ir al Admin</a>
            {% else %}

                {% for group in user.groups.all %}
                    {% if group.name == "Vendedor" %}
                        <a href="/admin/tienda/pedido/" class="btn btn-outline-primary">Ir a Pedidos</a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% else %}
            <form class="d-flex me-3" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Usuario" class="form-control me-2" style="max-width: 150px;">
                <input type="password" name="password" placeholder="Contraseña" class="form-control me-2" style="max-width: 150px;">
                <button type="submit" class="btn btn-outline-success">Iniciar Sesión</button>
            </form>
            <a href="{% url 'register' %}" class="btn btn-outline-primary">Registrarse</a>
        {% endif %}
       
        </div>
    </nav>

    <div class="container margen-superior">
        {% block containersuperior %}
        {% endblock %}
    </div>

    <div class="container my-5">
        {% block content %}
        {% endblock %}
    </div>

    <footer class="bg-dark text-white text-center py-3">
        <p>&copy; 2024 Tienda Verde. Todos los derechos reservados.</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
